/* patrick-hand-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/patrick-hand-latin-regular.woff2') format('woff2');
}
